<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact us</title>
    <link rel="icon" type="image/x-icon" href="/static/img.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      .logo {
        background-color: white;
        margin-top: 0;
        margin-left: 2px;
        border-radius: 50%;
        margin-right: 5px;
      }

      .myimg {
        width: 70px;
        height: 70px;
        border: 2px solid white;
        border-radius: 50%;
      }
      .height {
        height: 50vh;
      }

      .query_box {
        position: absolute;
        top: 80%; /* Adjust to position the form vertically in the top half */
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        z-index: 10;
      }
      .box_trans {
        background-color: rgba(2, 191, 128, 0.3);
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container-fluid">
        <!-- Logo at the top-left corner -->
        <div class="logo">
          <img
            class="myimg"
            src="{{ url_for('static', filename='logo.png') }}"
            alt=""
          />
        </div>

        <a class="navbar-brand text-center fw-bold" href="/">Aushadhi</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="logo">
              <img
                class="myimg"
                src="{{ url_for('static', filename='logo2.png') }}"
                alt=""
              />
            </div>
          </form>
        </div>
      </div>
    </nav>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center"></div>
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div
              class="wrapper img"
              style="
                background-image: url(static/contact.jpg);
                background-repeat: no-repeat;
                background-size: cover;
              "
            >
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3 class="mb-4">Get in touch with us</h3>
                    <div id="form-message-warning" class="mb-4"></div>

                    <form
                      method="POST"
                      id="contactForm"
                      name="contactForm"
                      class="contactForm"
                    >
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="label" for="name">Full Name</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              id="name"
                              placeholder="Name"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="label" for="email"
                              >Email Address</label
                            >
                            <input
                              type="email"
                              class="form-control"
                              name="email"
                              id="email"
                              placeholder="Email"
                            />
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="label" for="#">Message</label>
                            <textarea
                              name="message"
                              class="form-control"
                              id="message"
                              cols="30"
                              rows="4"
                              placeholder="Message"
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input
                              type="submit"
                              value="Send Message"
                              class="btn btn-success mt-4"
                            />
                            <div class="submitting"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer
      class="text-center p-4 position-absolute bottom-0 w-100"
      style="background-color: #02bf80; color: white"
    >
      <p>&copy; 2024 Aushadhi Care. All rights reserved.</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
